*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}
body{
    background-color: #fff;
}
/*===============HEADER===============*/
/*NAVIGATION*/
.navBar{
    width: 100%;
    background-color: #fff;
}
nav{
    display: inline-block;
    margin: 20px;
    margin-top: 30px;
    margin-left: 100px;

}
nav ul{
    display: flex;
    justify-content:center;
    align-items: center;
}
nav ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 20px;
    list-style: none;
}
.left-border{
    border-left: 1px solid #000;
}
.right-border{
    border-right: 1px solid #000;
    padding-right: 10px;
}
/*===============MAIN CONTENT===============*/
/*GREEN NGA MGA CIRCLES*/
.circle_container{
    width: 100%;
    height: fit-content;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 50px;
    margin-top: 100px;
}
.process{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}
.process:nth-child(even){
    align-items: center;
}
.arrow{
    margin-top: 20px;
}
.circle_div{
    position: relative;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}
.transparent_circle{
    margin-left: 10px;
    margin-right: 10px;
}
.num{
    position: absolute;
    top: 12px;
    left: 38.5px;
    font-size: 30px;
    color: #fff;
}
.verify_phone_text{
    color: #00D3B4;
    font-size: 12px;
}
main{
    width: 100%;
    height: 100vh;
}
.container{
    width: 100%;
    height: fit-content;
}

.txt_margin_negative{
    margin-top: -100px;
    margin-bottom: 100px;
}
.small_text{
    font-size: 12px;
    line-height: 0;
    color: #868686;
}
.box{
    position: relative;
    width: 500px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
    box-shadow: 0 0 10px ;
    margin-top: 30px;
    border-radius: 8px;
    box-shadow: 0px 3.803px 3.803px 0px rgba(0, 0, 0, 0.25);
}
.arrow_in_box{
    position: absolute;
    top: 35px;
    left: 70px;
}
/*INPUTS*/
.code{
    font-size: large;
    width: 350px;
    height: 50px;
    outline: none;
    animation-duration: .3s;
    padding: 10px;
    border-radius: 5px;
    border: 1.587px solid rgba(0, 0, 0, 0.30);
}
.codes{
    display: flex;
    column-gap: 10px;
}
.txt_und_in{
    width: 340px;
}
/*BUTTON*/
.btnNext{
    width: 350px;
    height: 50px;
    background-color: #00D3B4;
    border-radius: 5px;
    border-width: 1px;
    margin-top: 10px;
    cursor: pointer;
    color: #fff;
    border: none;
    box-shadow: 0px 3.803px 3.803px 0px rgba(0, 0, 0, 0.25);
}
/*===============FOOTER DESIGNS===============*/
footer{
    width: 100%;
    height: 300px;
    position: relative;
}
.footer{
    display: flex;
    flex-direction: row;
    column-gap: 400px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding-bottom: 100px;
}
.credentialContainers ul li a{
    text-decoration: none;
    color: #000;
    font-size: 12px;
    
}
.credentialContainers ul li{
    list-style: none;
    line-height: 40px;
}
.credentialContainers p{
    font-size: 14px;
    font-weight: 700;
    line-height: 50px;
}