*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}
header{
    position: fixed;
    display: flex;
    height: 70px;
    width: 100%;
    background-color: #000;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    z-index: 2;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
nav ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 150px;
    height: 70px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    height: 70px;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    border-radius: 3px;
}
nav ul li a:hover{
    background-color: #fff;
    color: #000;
}
h1{
    color: #fff;
    padding-left: 20px;
}
.ts-dropdown{
    position: absolute;
    background-color: #000;
    top: 70px;
}
.ts-dropdown:active{
    background-color: #fff;
    color: #000;
}
.ts-dropdown{
    display: none;
}
.dropdown:hover .ts-dropdown{
    display: block;
}
.travel_spots:hover{
    background-color: #000;
    color: #fff;
}
/*BODY*/
body{
    width: fit-content;
}
.slider-wrapper{
    width: 100%;
    height: 100vh;
}
.wrapper{
    overflow: hidden;
}
hr{
    width: 100%;
    margin: 20;
}
.slider{
    display: flex;
    flex-direction: row;
    scroll-snap-type: x mandatory;
    animation: autoNext 20s infinite;
    animation-delay: .3s;
    animation-direction: alternate;
}
@keyframes autoNext {
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
}
.slider::-webkit-scrollbar{
    display: none;
}
.slider img{
    flex: 1 0 100%;
    object-fit: cover;
    scroll-snap-align: start;
    filter: brightness(50%);
}
#slider1,
#slider2,
#slider3,
#slider4{
    width: 100%;
    height: 100vh;
}
.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 2rem;
    left: 96%;
    transform: translateX(50%);
    z-index: 1;
}
.slider-nav a{
    width: 7px;
    height: 7px;
    background-color: #fff;
    border-radius: 50%;
    transition: .3s;
}
.slider-nav a:hover{
    background-color: #000;
    border: 1px solid #fff;
    box-shadow: 0 0 20px 5px #fff;
}
.centered_text{
    position: absolute;
    top: 80%;
    left: 5%;
    z-index: 1;
}
.small_text{
    font-size: 50px;
}
.center_title{
    font-family: "Dancing Script", cursive;
    color: #fff;
    font-size: 100px;
    text-align: center;
}
.hr-cool{
    height: 3px;
    border-radius: 100%;
}
#about_us{
    padding: 3rem;
}
#travel_spots{
    padding: 2rem;
}
.hr-big{
    height: 50px;
    margin: 0;
}
hr{
    background-color: #000;
    outline: none;
    border: none;
    height: 2px;
    margin: 20px 0;
}
.box{
    width: fit-content;
    height: fit-content;
    box-shadow: 0 20px 34px rgba(213,215,224,.44);
    margin-left: auto;
    margin-right: auto;
}
main{
    width: fit-content;
}
/*SECTIONS*/
.travel_title{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
}
.travel_title_section{
    width: 100%;
    
    margin-top: 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sto_nino, .basdaku, .crimson, .temple_leah{
    width: 100%;
    height: 700px;
}
.sto_nino_section, .basdaku_section, .crimson_section, .temple_leah_section, .about_us_section, .send_email_section{
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 200px;
}
.sto_nino_section{
    padding-top: 0;
}
.sto_nino_p, .sto_nino_d, .basdaku_d, .basdaku_p, .crimson_p, .crimson_d, .temple_leah_p, .temple_leah_d{
    width: 500px;
    height: 500px;
}
.sto_nino_p{
    background-image: url(magellan_cross.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.sto_nino_d, .basdaku_d, .crimson_d, .temple_leah_d{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 700px;
}
.sto_nino_p, .basdaku_p, .crimson_p, .temple_leah_p{
    
    border-radius: 100px 20px;
    border:3px solid rgba(247, 247, 247, 0.44);
    box-shadow: 0 20px 34px rgb(141, 141, 141);
}
dl{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
dt{
    font-size: 20px;
    font-weight: 700;
    padding: 20px;
    padding-left: 0;
    text-align: left;
    width: 100%;
}
dd{
    font-size: 18px;
    font-weight: 500;
    height: 300px;
    width: 100%;
    min-width: 500px;

}
.basdaku_p{
    background-image: url(basdaku.jpg);
    background-position: center;
    background-size: cover;
}
.crimson_p{
    background-image: url(crimson.png);
    background-position: center;
    background-size: cover;
}
.temple_leah_p{
    background-image: url(temple_leah.png);
    background-position: center;
    background-size: cover;
}
.about_us{
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile_title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;

}
.about_us_section{
    width: fit-content;
    padding: 0;
    margin: 0;
    padding: 50px;
}
.card{
    box-shadow: 0 0 5px 2px #c5c5c5;
    height: 100%;
    width: 300px;
    transition: .3s;
    overflow: hidden;
    filter: grayscale(100%);
    border-radius: 20px;
}
.card:hover{
    width: 500px;
    filter: grayscale(0);
}
.berndt, .ethan, .adrian{
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover;
}
.berndt_text, .ethan_text, .adrian_text{
    width: 100%;
    height: 96px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    
}
.berndt{
    background-image: url(berndt.jpg);
}
.ethan{
    background-image: url(ethan.png);
}
.adrian{
    background-image: url(adrian.jpg);
}
.profiles{
    text-decoration: none;
    color: #000;
    font-family: monospace;
    font-size: large;
}
h4{
    font-size: 30px;
    font-weight: 600;
}
.send_email_section{
    align-items: center;
    justify-content: center;
}
.send_email_content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
}
.email_text{
    font-size: 18px;
    font-weight: 500;
}
.email_form{
    width: fit-content;
    height: fit-content;
}
.email_input{
    width: 590px;
    height: 20px;
    border-radius: 50px;
    padding: 20px;
    outline: none;
    border: none;
    background-color: #f1f1f1;
    font-size: 15px;
    box-shadow: 0 0 5px 3px gainsboro;
    font-weight: 500;
    text-align: center;
}
/*FOOTER*/
footer{
    background-color: #000;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    width: 200px;
    height: 40px;
    border-radius: 50px;
    border: none;
    box-shadow: 0 0 5px 3px gainsboro;
    background-color: #a3a3a3;
    color: #f1f1f1;
    transition: .3s;
}
button:hover{
    background-color: #505050;
    transform: scale(1.1);
}
.footer_text{
    font-size: 15px;
    color: #fff;
}

@media screen and (max-width: 400px){
    main{
        width: fit-content;
    }
    footer{
        width: 675px;
    }
    .sto_nino_p, .basdaku_p, .crimson_p, .temple_leah_p{
        height: 100px;
    }
}

@media screen and (max-width: 800px) {
    main{
        width: fit-content;
    }
    .sto_nino_p, .basdaku_p, .crimson_p, .temple_leah_p{
        height: 100px;
    }
    .about_us_section {
      display: flex;
      flex-direction: row;
      column-gap: 15px;
      height: fit-content;
    }
    .about_us{
        height: fit-content;
    }
    .send_email{
        height: fit-content;
    }
    .send_email_section{
        width: fit-content;
    }
    .email_input{
        width: 400px;
        height: 10px;
    }
    .email_text{
        font-size: 15px;
        text-align: center;
    }
    .sto_nino_section, .basdaku_section, .crimson_section, .temple_leah_section, .send_email_section{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 20px 0;
    }
    .basdaku_section, .temple_leah_section{
        flex-direction: column-reverse;
    }
    .sto_nino, .basdaku, .crimson, .temple_leah{
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .sto_nino_p, .basdaku_p, .crimson_p, .temple_leah_p{
        width: 300px;
        height: 300px;
    }
    dd{
        font-size: 10px;
        text-align: center;
        width: 500px;
        height: 100%;
    }
    dt{
        padding: 20px;
    }
    dl{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .sto_nino_d, .basdaku_d, .crimson_d, .temple_leah_d{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        height: fit-content;
    }
    .card{
        height: 200px;
        width: 150px;
    }
    .card:hover{
        width: 300px;
    }
    .berndt, .ethan, .adrian{
        height: 130px;
    }
    .berndt_text, .ethan_text, .adrian_text{
        font-size: 13px;
    }
}